* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --colorAmarillo: #eac926;
  --colorAzul: #03264c;
  --colorCeleste: #1259c3;
  --colorGrisOscuro: #666;
  --colorGrisClaro: #ebebeb;
  --colorVerde: #39b54a;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--colorGrisClaro);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 24px;
  margin: 15px 0 15px 0;
  color: var(--colorGrisOscuro);
}

h4 {
  color: var(--colorGrisOscuro);
  font-size: 16px;
  display: none;
}
p {
  font-size: 12px;
}

input,
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}
.btn-rojo {
  background-color: rgb(221, 52, 52);
  font-weight: bolder;
  width: 48%;
  transition: background-color linear 0.3s;
}
.btn-rojo:hover {
  background-color: rgb(167, 44, 44);
}

.btn-verde {
  background-color: #58a864;
  font-weight: bolder;
  width: 48%;
  transition: background-color linear 0.3s;
}

.btn-verde:hover {
  background-color: #42864c;
}

.btn-azul {
  background-color: var(--colorCeleste);
  color: #fff;
  width: 100%;
  font-weight: bolder;
  margin-bottom: 5px;
  transition: background-color linear 0.3s;
}

.btn-azul:hover {
  background-color: #0022aa;
}
