*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--colorGrisClaro);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h2{
    font-size: 24px;
    margin: 15px 0 15px 0;
    color: var(--colorGrisOscuro);
}

h4{
    color: var(--colorGrisOscuro);
    font-size: 16px;
    display: none;
}

p{
    font-size: 12px;
}

:root{
    --colorAmarillo : #EAC926;
    --colorAzul: #03264C;
    --colorCeleste:  #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro : #ebebeb;
    --colorVerde: #39b54a;
}

header{
    background-color:  var(--colorAmarillo);
    width: 100%;
}

header img{
    display: left;
    max-width: 40%;
    padding: 25px 0 10px 25px;
}

#banner img{
    max-width: 100%;
    height: auto;
    width: auto;
    margin:0;
    display:block;
    padding: 0;
}

header .barra{
    background-color: var(--colorGrisClaro);
    border: 1px solid var(--colorGrisOscuro);
    border-radius: 3px;
    color: var(--colorGrisOscuro);
    display: inline;
    padding: 1px 16px 1px 1px;
    margin-left: 15px;
    font-size: 14px;
}

header #buscador{
    background-color: var(--colorGrisClaro);
    border: 1px solid var(--colorGrisOscuro);
    border-radius: 3px;
    padding: 1px;
    display: inline;
    font-size: 15px;
}

/* Diferencias entre tp3 y tp4 */

/* header #buscador {
    background-color: var(--colorGrisClaro);
    border: 1px solid var(--colorGrisOscuro);
    border-radius: 3px;
    padding: 1px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 2px;
} */

header p{
    text-align: center;
    font-size: 12px;
    padding-top: 15px;
    color: black;
}

header li{
    font-size: 12px;
    display: none;
}

header li a{
    color: black;
}

header .burger-menu{
    background-color: var(--colorCeleste);
    color: var(--colorGrisClaro);
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px 12px;
    border-radius: 5px;
    margin: 0px 48% 20px;
}

main{
    max-width: 90%;      
    align-items: center;  
    margin: auto;  
}

main article{
    margin-bottom: 10px;
    background-color: #ffffff;
}

main article img{
    max-width: 100%;
}

main .descripcion{
    border-top: 1px solid var(--colorGrisClaro);
    padding: 15px;
}

main article i{
    color: var(--colorVerde);
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid var(--colorVerde);
    padding: 5px 15px 15px 5px;
}

main article p:nth-child(odd){
    color: var(--colorVerde);
    font-size: 16px;
}

main article p{
    font-size: 18px;
}

footer{
    text-align: center;
    color: var(--colorGrisOscuro);
}

footer i{
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
    margin-top: 50px;
}

footer p{
    margin-right: 40px;
    margin-left: 40px;
    font-size: 12px;
}

footer .copyright{
    margin-top: 40px;
    margin-left: 20px;
    text-align: left;
}

/* Responsive Tablet */

@media (min-width:361px){
    header li{
        font-size: 12px;
        display: block;
    }
    h4{
        display: block;
        margin-top: 10px;
    }
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);        
    }
    header .burger-menu{
        display: none;
    }
    header li{
        margin-left: 10px;
    }
    header p{
        margin-bottom: 30px;
    }
}

/* Responsive Desktop */

@media (min-width:769){

}


